Asaad/Vega.API/obj/Debug/netcoreapp2.0/Vega.API.pdb
Asaad/Vega.API/obj/Debug/netcoreapp2.0/Vega.API.dll
Asaad/Vega.API/bin/Debug/netcoreapp2.0/Vega.API.pdb
Asaad/Vega.API/bin/Debug/netcoreapp2.0/Vega.API.dll
